ul#streamList li a {
    background-color: black;
    color: white;
	border: 4px double black; /* Параметры границы */
	text-indent: 0px;
	position: absolute;
    max-width: 500px;
    margin-top: 10px;
	text-overflow: ellipsis;
}
ul#streamList li img{
	 width: 70px;
	 height: 50px;
	 margin-top: 15px;
	 position: relative;
}
ul#streamList li a:hover {
    background-color: black;
    color: red; 
    text-decoration: underline;
    border-radius: 4px 4px 0 0;
}
div {
	width: 100%;
    background: url(img/bg.gif) 100% 100% repeat; /* Добавляем фон */
    border: 2px solid #000; /* Параметры рамки */
}